
nav {
  width: 90%;
  max-width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.left-nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1D3BB2;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.right-nav-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.ham-menu {
  background-color: #0000;
  height: 50px;
  width: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
}

.ham-menu img {
  width: 100%;
  height: 100%;
}

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 500px;
  height: 100%;
  padding-top: 70px;
  padding-left: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.menu h2 {
  color: #333;
  font-size: 1rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border: none;
  background-color: #0000;
  color: #333;
}
